<div class="container-fluid">

    <nav>
        <div class="heading">
            <h1 class="Navigation-Bar"></h4>
        </div>
    
        <ul class="nav-links">
            <li class="home">
                <a href="{% url 'finedu_home:home' %}">FinEdu</a>
            </li>

            <li class="blog">
                <a href="{% url 'finedu_blog:blog-home' %}">Blog</a>
            </li>

            <li class="glossary">
                <a href="{% url 'finedu_pedia:glossary-home' %}">Glossário</a>
            </li>
        
            <li class="market">
                <a href="#">Mercados</a>
            </li>

            <li class="banking">
                <a href="#">Banca</a>
            </li>

            <li class="portfolio">
                <a href="#">Portfolio</a>
            </li>

            <li class="username">
                <a href="#"></a>
            </li>

            <li class="Utilizador">
                <a href="#">Utilizador</a>
            </li>
           

        </ul>
    </nav>
    
</div>